*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    align-items: center;
    width: 100%;
    /* justify-content: space-between; */

}
.nav-link a{
    text-decoration: none;
    color: black;
}
.yellow h1{
 font-size: 5.5vmax; 
}
.black{
  font-size: 20px;
  line-height: 100%;
  margin-top: 100px;
}
.hero{
  background-color: aliceblue;
}
.sure{
  background-color: aliceblue;
  height: 100vh;
}
.nav-item{
    list-style: none;
}
.nav-none{
  list-style: none;
  margin-left: auto;
}
.nav-i-end{
  display: inline-block;
  margin-right: 50px;
}
.nav-i-end button{
  background-color: transparent;
  padding: 10px 40px;
  border-radius: 20px;

}
.nav-i-end button:hover{
  background-color:burlywood;
  padding: 10px 40px;
  color: white;
  border-radius: 20px;

}

.nav-link{
    display: inline-block;
    margin-right: 50px;
    /* font-size: 30px; */
}
.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
.dropctn {
    background-color:transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-show {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-show a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
.show {display:block;}  
.open {display:block;}  
.mobile-nav{
  display: none;
}
.toggle{
  padding: 20px;
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
  display: none;
  color: #F2970F;
}
.your img{
  width: 100%;
  height: 100vh;
}













@media screen and (max-width: 768px){

  .toggle{
      display: block;
  }
  .nav-none{
    display: none;
  }
  .nav-item{
      display: none;
      
  }

  .item{
      color: black;
  }
  .mobile-nav{
      display: none;
      flex-direction: column;
      /* height: 100vh; */
      width: 70%;
      color: black;
      gap: 40px;
      background-color: white;
      position: absolute;
  }

  .mobile-nav button{
      border: none;
      border-radius: 30px;
      padding: 10px 40px;
  }
  

  .mobile-toggle{
      display: flex;
  }
  .toggle{
    padding: 20px;
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
    display: block;
    color: red;
    position: relative;
    /* left: 100px; */
    margin-left: 220px;
  }
  .item{
    list-style: none;
}
.close {display:block;}   
.dropdown-see a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.item{
  position: relative;
  display: inline;
}
.item:hover .dropdown-see{
  display: block;
}
.dropdown-see{
  display: none;
}
.nav-end{
  display: flex;
}
.row{
  display: flex;
  flex-direction: column-reverse;
}   
.yellow{
width: 100%;
}
.love{
  display: flexbox;
  flex-direction: row;
  gap: 30px;
}


}
  

